.flex {
    display: flex;
    height: 100vh;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20220427/pngtree-webinar-banner-e-learning-internet-lesson-image_1091839.jpg");
    background-size: cover;
}


.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 90%;
}


.success {
    color: green;
}
.failure {
    color: red;
}

.card {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 73%;
    width: 20%;
    color: #fff;
    transition: 0.4s;
    padding-top: 20px;
}

.card:hover {
    box-shadow: 0px 0px 10px 1px grey;
    border-radius: 20px;
    height: 80%;
    width: 25%;
    font-size: 17px;
}
.head {
    font-size: 20px;
    margin-bottom: 40px;
    width: 90%;
    text-align: center;
}

.input {
    margin: 30px;
    width: 80%;
}


.option {
    background-color: #fff;
    border-width: 0px;
    border-radius: 7px;
    height: 30px;
    width: 100px;
    margin: 10px;
    color: #000;   
    cursor: pointer;
}







.btn {
    background-color: #000;
    border-radius: 10px;
    border-width: 0px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100px;
}

.nav-content {
    width: 100%;
    
}

.input-text {
    padding: 10px;
    border-radius: 10px;
    width: 90%;
}
.label {
    margin-bottom: 5px;
}
.upload {
    height: 50px;
}