@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap&family=Inria+Sans');


.sidebar {
    height: 89vh;
    width: 16vw;
    /*background-image: url("https://tse4.mm.bing.net/th?id=OIP.XgXXwTc7Xab1F8Dd73ECiAHaK7&pid=Api&P=0&h=180");
    */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: #A2A2A2;
    background-size: cover;
    padding: 10px;
}
.logo-card {
    display: flex;
    border-radius: 10px;
    align-items: center;
    transition: 0.4s;
}
.logo-card:hover {
    background-color: #000;
    padding-right: 7px;
    .logo {
        margin-right: 10px;
    }
}
.app-name {
    color: #fff;
    margin: 0px;
    padding: 0px;
    transition: 0.4s;
}

.logo {
    height: 30px;
    transition: 0.4s;
}

.logo:hover {
    border-radius: 20px;
    
}



.bars {
    list-style-type: none;
    color: #fff;
    padding: 0px;
}
.link {
    text-decoration: none;
    color: #fff;
}
.bar {
    background-color: #fff;
    padding-left: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #000;
    font-size: 15px;
    transition: 0.4s;
}
.below {
    background-color: #ffffff90;
}
.side-logo {
    margin-right: 10px;
    height: 30px;
    color: #000;
}
.sidebar-text {
    margin: 0px;
    font-size: 15px;
}

.bar:hover {
    background-color: #ffffff70;
    color: #000;
    padding: 5px;
}

.icon {
    cursor: pointer;
    transition: 0.4s;

} 
.icon:hover {
    font-size: 20px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 8vh;
    color: #fff;
    background-color: #000000;
    transition: 0.4s;
}
.app-name {
    font-family: "Inria Sans";
}

.navbar:hover {
    background-color: #00000070;
    .icon {
        color: #fff;
    }
}
.help-website {
    display: flex;
    align-items: center;
}
.nav-text {
    padding-right: 5px;
    padding-left: 5px;
    margin: 0px;
}
.website-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1px;
    padding-left: 8px;
    padding-right: 1px;
    margin-left: 20px;
    border-radius: 15px;
    color: #000;
}
.website-logo {
    background-color: #000;
    color: #fff;
    font-size: 13px;
    padding: 5px;
    border-radius: 10px;
}
.help-card {
    display: flex;
    align-items: center;
    padding-right: 20px;
    border-right: 1px solid #fff;
}
.help-logo {
    background-color: #fff;
    color: #000;
    font-size: 23px;
    border-radius: 20px;
    margin-right: 10px;
}

.item {
    display: flex;
    width: 60vw;
    padding: 10px;
    background-color: #ffffff90;
    margin: 10px;
    border-radius: 10px;
    justify-content: space-between;
}